footer.footer(style="text-align:center;border-top:1px solid #e5e5e5;padding:20px 0;color:#666;line-height:20px;")
	.container
		p(style="margin:0;") © 玩点儿啥 2016
		p(style="margin:0;") 并没有备案，这是一个不正经的网站
		p(style="margin:0;")
			a(href="/admin/list",target="_blank") 这里是神奇的电影管理
			span(style="margin:0 10px;") |
			a(href="/admin/input",target="_blank") 这里是神奇的录入电影
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")