extends ../layout

block content
	.jumbotron.masthead(style="padding-bottom:0;margin-bottom:0;")
		.container(style="padding:230px 0;text-align:center;")
			h2 联系方式就在这个页面中
			p Now,find me.
block script
	script.
		console.log('My wechat is 29741912');
		console.log('My E-mail is neurotoxin@vip.qq.com');
		console.log('My Github is https://github.com/neurotoxinvx');
		console.log('Try to find me.Ha Ha Ha');