extends ../layout
block content
	.jumbotron.masthead(style="padding-bottom:0;margin-bottom:0;")
		img.img-responsive(src="/images/banner.jpg")
	.container.projects(style="padding:40px 0;")
		.projects-header.page-header(style="margin:0 auto;text-align:center;")
			h1 为啥做这玩意儿
			p 主要是因为我太无聊了
	.benefits.container(style="margin-bottom:40px;")
		.row(style='text-align:center;font-family:"Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif"')
			.col-md-6
				h2
					span.glyphicon.glyphicon-film(style="margin-right:5px;")
					a(href="/list",style="color:inherit;") 看电影吗
				p 显摆下看过的电影
			.col-md-6
				h2
					span.glyphicon.glyphicon-headphones(style="margin-right:5px;")
					a(href="/music",style="color:inherit;") 听歌儿吗
				p 显摆下听过的歌
			.col-md-6
				h2
					span.glyphicon.glyphicon-envelope(style="margin-right:5px;")
					a(href="/chat",style="color:inherit;") 聊天儿吗
				p 给我留言啊
			.col-md-6
				h2
					span.glyphicon.glyphicon-user(style="margin-right:5px;")
					a(href="/aboutme",style="color:inherit;") 加我微信啊
				p 联系方式自己找