extends ../layout
block content
	.jumbotron.masthead(style="padding-bottom:0;margin-bottom:0;")
		.container(style="padding:220px 0;text-align:center;")
			h1 其实我开玩笑的，我才懒得做这个页面
			h3 不过既然来都来了，分享一下我的虾米音乐主页 — 
				a(href="http://www.xiami.com/u/41462435?spm=a1z1s.6929221.1561534497.3.MhPEm7", target="_blank") 宁新琦
